body{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color:#184b8d;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 250px;
    padding-top: 25px;
    position: relative;
 }

.data{ 
    padding-left: 75px;
    padding-right: 10px;
    color: white;
}

.value{
    font-size: 25px;
}

